* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

body {
    background-image: url('fondo-de-web.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


.container {
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 10px;
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
}

.navbar {
    background-color: #1f2937;
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
    font-weight: 500;
}

.navbar a:hover {
    text-decoration: underline;
}

h1, h2 {
    margin-bottom: 20px;
}

.form {
    max-width: 500px;
    margin: 0 auto;
}

.form input {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    padding-left: 10px;
}


button {
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
    background-color: #2563eb;
    color: white;
    cursor: pointer;
    margin-top: 5px;
}

button:hover {
    background-color: #1d4ed8;
}

button.secondary {
    background-color: #6b7280;
}

button.secondary:hover {
    background-color: #4b5563;
}

ul {
    list-style: none;
    margin-top: 20px;
}

.nota {
    background-color: rgb(183, 180, 180);
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
}

.nota button {
    background-color: #ef4444;
}

.nota button:hover {
    background-color: #dc2626;
}

.landing {
    background-color: white;
    border-radius: 10px;
    width: 600px;
    margin: 80px auto;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    margin-top: 80px;
}

.landing p {
    margin: 15px 0 25px;
    color: #555;
}
