body {
  font-family: Arial, sans-serif;
  text-align: center;
}

.pokemon-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  border: 1px solid #ccc;
  padding: 15px;
  width: 150px;
  border-radius: 8px;
  background: #f9f9f9;
}
.home {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.home h1 {
  margin-bottom: 20px;
}

.home ul {
  text-align: left;
  display: inline-block;
}
